<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185387282899-acvdfuetd6thmcvde1jkhr1q0hb3q3hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185387282899-acvdfuetd6thmcvde1jkhr1q0hb3q3hq</string>
	<key>API_KEY</key>
	<string>AIzaSyBaQlTYgkIz8F7fzZfjONSdvJIvI8QCX4M</string>
	<key>GCM_SENDER_ID</key>
	<string>185387282899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yaqi.xie.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-daed6</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-daed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185387282899:ios:f13ba034e2fcacacaeff26</string>
</dict>
</plist>